{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid callout-container">
        
        <!-- Callout -->
        <div class="row">
            <div class="col-xs-12">
                <section class="callout jumbotron text-center">
                    <h1>The BEST little rugby club in the WORLD!</h1>
                    <hr class='block-divider block-divider--orange'>
                    <p class="lead">Sign up today to become a member of our club</p>
                    <p><button class="btn btn-lg btn--cta btn--red"><a href="contact.html">Contact US</a></button></p>
                </section>
            </div>
        </div>
        <!-- /.callout -->
    </div>
        
            <div class="news">
               <div class="container">
                  <div class="heading-slider">
                     <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
                     <!--made by vipul mirajkar thevipulm.appspot.com-->
                     <h1>
                     <a href="" class="typewrite" data-period="2000" data-type='[ "The New 2018/2019 Season will be starting soon.", "Registration will be open for boys and girls from age 6 to 12", "We are looking for parents or volunteers to help with coaching and to help with blitzes."]'>
                     <span class="wrap"></span>
                     </a>
                     </h1	   
                     <span class="wrap"></span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="matchs-info">
         <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
               <div class="full">
                  <div class="matchs-vs">
                     <div class="vs-team">
                        <div class="team-btw-match">
                           <ul>
                              <li>
                                 <img src="{% static 'images/kenmare.png' %}" alt="">
                                 <span>Kenmare RFC</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/killarney.png' %}" alt="">
                                 <span>Killarney RFC</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
               <div class="full">
                  <div class="right-match-time">
                        <center>
                            <div class="example">
                               <h1><strong>Next Match</strong></h1>
                                  <div id="flipdown" class="flipdown"></div>
      <div class="buttons">
      </div>
      <h1>Tuesday Jan 1st, 1100hrs K.O.</h1>

                        </center>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
 


      <section id="contant" class="contant">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-4 col-xs-12">
                  <aside id="sidebar" class="left-bar">
                     <div class="banner-sidebar">
                        <img class="img-responsive" src="{% static 'images/frontpage.jpg' %}" alt="#" />
                        <h3>Integrity, Respect, Solidarity, Passion and Discipline.</h3>
                     </div>
                  </aside>
                  <h4>Match Fixtures</h4>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <div class="team-btw-match">
                           <ul>
                              <li>
                                 <img src="{% static 'images/kensmall.png' %}" alt="">
                                 <span>Kenmare</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/kilsmall.png' %}" alt="">
                                 <span>Killarney</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="{% static 'images/kensmall.png' %}" alt="">
                                 <span>Kenmare</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/traleesmall.png' %}" alt="">
                                 <span>Tralee</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="{% static 'images/iveraghsmall.png' %}" alt="">
                                 <span>Iveragh</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/kensmall.png' %}" alt="">
                                 <span>Kenmare</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="{% static 'images/killorglinsmall.png' %}" alt="">
                                 <span>Killorglin</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/kensmall.png' %}" alt="">
                                 <span>Kenmare</span>
                              </li>
                           </ul>
                           <ul>
                              <li>
                                 <img src="{% static 'images/kensmall.png' %}" alt="">
                                 <span>Kenmare</span>
                              </li>
                              <li class="vs"><span>vs</span></li>
                              <li>
                                 <img src="{% static 'images/castlesmall.png' %}" alt="">
                                 <span>Castleisland</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </aside>
                  <h4>Points Table</h4>
                  <aside id="sidebar" class="left-bar">
                     <div class="feature-matchs">
                        <table class="table table-bordered table-hover">
                           <thead>
                              <tr>
                                 <th>#</th>
                                 <th>Team</th>
                                 <th>P</th>
                                 <th>W</th>
                                 <th>L</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>1</td>
                                 <td><img src="{% static 'images/kensmall.png' %}" alt="">Kenmare</td>
                                 <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                              <tr>
                                 <td>2</td>
                                 <td><img src="{% static 'images/castlesmall.png' %}" alt="">Castleisland</td>
                                 <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                              <tr>
                                 <td>3</td>
                                 <td><img src="{% static 'images/kilsmall.png' %}" alt="">Killarney</td>
                                 <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                              <tr>
                                 <td>4</td>
                                 <td><img src="{% static 'images/killorglinsmall.png' %}" alt="">Killorglin</td>
                                 <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                              <tr>
                                 <td>5</td>
                                 <td><img src="{% static 'images/iveraghsmall.png' %}" alt="">Iveragh</td>
                                 <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                              <tr>
                                 <td>6</td>
                                 <td><img src="{% static 'images/traleesmall.png' %}" alt="">Tralee</td>
                                <td>0</td>
                                 <td>0</td>
                                 <td>0</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </aside>
                  <div class="content-widget top-story" style="background: url(static/images/top-story-bg.jpg)">
                     <div class="top-stroy-header">
                        <h2>Older Stories <a href="#" class="fas fa-angle-right"></a></h2>
                        <span class="date">August, 2018</span>
                        <h2>Other Headlines</h2>
                     </div>
                     <ul class="other-stroies">
                        <li><a href="#">Kenmare Beat Iveragh</a></li>
                        <li><a href="#">Kenmare Beat Munster</a></li>
                        <li><a href="#">Kenmare Beat Leinster </a></li>
                        <li><a href="#">Kenmare Beat Killarney</a></li>
                        <li><a href="#">Kenmare Beat Tralee</a></li>
                        <li><a href="#">Kenmare Beat Castleisland</a></li>
                        <li><a href="#">Kenmare Beat Killorglin</a></li>
                        <li><a href="#">Kenmare Beat Corca Dhuibhne</a></li>
                     </ul>
                  </div>
           </div>
               <div id="blog" class="blog-section section-padding">
                        <div class="col-lg-8 col-sm-8 col-xs-12">
                            <div class="main-heading sytle-2">
                        <h2><a href="{% url 'post_list' %}">News</a></h2>
                    
                  
                                    </div>
                              </div>
                        
               <div class="col-lg-8 col-sm-8 col-xs-12">
                  <div class="news-post-holder">
                     <div class="news-post-widget">
                         {% if posts %}
                                  {% for post in posts %}
                                <img src="{{ post.image.url }}" class="img-responsive" alt="#" />
                        <div class="news-post-detail">
                           <span class="date">on {{ post.published_date}}</span>
                           <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                           <p>{{ post.description }}</p>
                           <div class="full">
                                 <a class="btn" href="{% url 'post_detail' pk=post.pk %}">Read More</a>
                              </div>
                        </div>
                     </div>
                                </div>
                            
                        {% endfor %}
                {% endif %}
                     </div>
                </div> 
         </div>
         <div class="main-heading-holder">
               <div class="main-heading sytle-2">
                  <h2>Social Wall</h2>
                  <p>Read the latest posts from our social media accounts</p>
               </div>
            </div>
         </div>
           <div class="social-media-wall"  data-cfg-wallid=35477></div><script async src="https://static.socialmediawall.io/w/init-wall.js"></script> 
           </section>          

         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="main-heading sytle-2">
                        <h2>Video</h2>
                        <p>Watch Videos of our teams as they become available</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="video_section_main theme-padding middle-bg vedio">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="match_vedio center-block">
                        <video class="center"width="auto" height ="auto" autoplay="autoplay" muted>
                             <source src="{% static 'images/video.mp4' %}" type="video/mp4">
                             Your browser does not support HTML5 video.
                        </video>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="team-holder theme-padding">
         <div class="container">
            <div class="main-heading-holder">
               <div class="main-heading sytle-2">
                  <h2>Meet The Coaches</h2>
                  <p>Meet some of our Munster Rugby accredited coaches</p>
               </div>
            </div>
            <div id="team-slider">
               <div class="container">
                  <div class="col-md-6 text-center">
                     <div class="team-column style-2">
                        <img src="{% static 'images/conn.png' %}" alt="">
                        <div class="player-name">
                           <div class="desination-2">Coach</div>
                           <h5>Conn Crowley</h5>
                           <span class="player-number">C</span>
                        </div>
                        <div class="overlay">
                           <div class="team-detail-hover position-center-x">
                              <p>Lacus vulputate torquent mollis venenatis quisque suspendisse fermentum primis,</p>
                              <ul class="social-icons style-4 style-5">
                                 <li><a class="facebook" href="#" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                                 <li><a class="twitter" href="#" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                                 <li><a class="youtube" href="#" tabindex="0"><i class="fa fa-youtube-play"></i></a></li>
                                 <li><a class="pinterest" href="#" tabindex="0"><i class="fa fa-pinterest-p"></i></a></li>
                              </ul>
                              <a class="btn blue-btn" href=" /soccer/team-detail.html" tabindex="0">View Detail</a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 text-center">
                     <div class="team-column style-2">
                        <img src="{% static 'images/jerry.png' %}" alt="">
                         <div class="player-name">
                           <div class="desination-2">Coach</div>
                           <h5>Jerry O'Sullivan</h5>
                           <span class="player-number">C</span>
                        </div>
                     </div>
                  </div>
                  
                  
               </div>
            </div>
         </div>
      </div>
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      {% endblock %}
      