{% extends 'base.html' %}

{% load static %}
{% block content %}
        <div class="inner-page-banner">
            <div class="container">
               <section class="callout jumbotron text-center">
                  <br>
                 <br>
                  <br>
                  <br>
                  <br>
                    <h1>The BEST little rugby club in the WORLD!</h1>
                </section>
            </div>
         </div>
         <div class="inner-information-text">
            <div class="container">
               <h3>Blog</h3>
               <ul class="breadcrumb">
                  <li><a href="{% url 'post_list' %}">Home</a></li>
                  <li class="active">Blog</li>
               </ul>
            </div>
         </div>
      </section>
    
      <section id="contant" class="contant main-heading team">
         <div class="row">
            <div class="container">
               <div class="col-md-9">
                  
                     
                  <div class="feature-post small-blog">
                      {% for post in post_list %}
                     <div class="col-md-5">
                        <div class="feature-img">
                           <img src="{{ post.image.url }}" class="img-responsive" alt="#" />
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="feature-cont">
                           <div class="post-info">
                              <img src="{% static 'images/logo.jpg' %}" alt="#" />
                              <span>
                                 <h4>by {{ post.author }}</h4>
                                 <h5>on {{ post.published_date}}</h5>
                              </span>
                           </div>
                           <div class="post-heading">
                              <h3>{{ post.title }}</h3>
                              <p>{{ post.description }}</p>
                              <div class="full">
                                 <a class="btn" href="{% url 'post_detail' pk=post.pk %}">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                        {% endfor %}
               
               <aside class="col-md-3">
                  <div class="blog-sidebar">

                    <div class="widget widget_text">
                        <div class="text-center">
                            <h3 class="widget-title">Get in Touch</h3>
                            <a href="#"><i class="fab fa-facebook fa-2x"></i></a> 
                                <span>34.5K</span>
                                <span>Friends</span>
                            </a>
                            <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                                <span>3.2K</span>
                                <span>Follows</span>
                            </a>
                            <a href="#"></a><i class="fab fa-instagram fa-2x"></i></a>
                                <span>15.7K</span>
                                <span>Friends</span>
                            </a>
                        </div>
                    </div>
                    <!-- Mailchimp Account Setup but needs to be activated once custom url is set for this feature to work -->
                    <div class="widget widget_mailchimp text-center">
                        <h3 class="widget-title">Newsletter</h3>
                        <p>Subscribe to Newsletter to be updated.</p>
                        <form class="signup form-inline" action="/" method="get">
                            <div class="form-group">
                                <input name="email" type="email" class="mailchimp_email form-control" placeholder="Email">
                            </div>
                            <button type="submit"><a><i class="fas fa-pen-square fa-2x"></i></a></button>
                            <div class="response"></div>
                        </form>
                    </div>


                    <div class="widget widget_banner">
                        <div class="vertical-item content-absolute text-center">
                            <a href="#" class="item-media">
                                <img src="{% static 'images/blog-widget.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h3 class="widget-title">Featured Tags</h3>
                        {% for post in post_list%}
                        <div class="tagcloud text-center">
                            <a href="#" title="" class="btn-type1">{{post.tag}}</a>
                        </div>
                        {% endfor %} 
                    </div>

                    <div class="widget widget_archive text-center">
                        <h3 class="widget-title">Categories</h3>
                        <div class="select-group">
                            <select aria-required="true" id="time" name="time">
                                
                                <option value="" disabled selected>Choose Category</option>
                                {% for post in post_list%}
                                <option value="games">{{post.category}}</option>
                                {% endfor %} 
                            </select>
                            <i class="rt-icon2-chevron-thin-down"></i>
                        </div>
                    </div>
 
                    </aside>

                  </aside>
               </div>
            </div>
         </div>
         </div>
      </section>

<div class="container padding-v100">
    <div class="row">
    <div class="col-sm-7 col-md-8 col-lg-8 zero-font">
            <div class="row">
    

<br>

                </div>
            </div>


    

                </div>
</aside>
</div>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% endblock %}