{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="inner-page-banner">
            <div class="container">
               <section class="callout jumbotron text-center">
                  <br>
                 <br>
                  <br>
                  <br>
                  <br>
                    <h1>The BEST little rugby club in the WORLD!</h1>
                </section>
            </div>
         </div>
         <div class="inner-information-text">
            <div class="container">
               <h3>Our Teams</h3>
               <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Our Teams</li>
               </ul>
            </div>
         </div>
      </section>
      <section id="contant" class="contant main-heading team">
         <div class="row">
            <div class="container">
               <div class="col-md-4 column">
                  <div class="card">
                     <img class="img-responsive" src="{% static 'images/u6s.jpg' %}" alt="John" style="width:100%">
                     <div class="">
                        <h4>U-6s Team</h4>
                        <p class="title">Mini Rugby Team</p>
                        <p>
                        <div class="center"><button class="button">More Info</button></div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 column">
                  <div class="card">
                     <img class="img-responsive" src="{% static 'images/u8s.jpg' %}" alt="Mike" style="width:100%">
                     <div class="">
                        <h4>U-8s Team</h4>
                        <p class="title">Mini Rugby Team</p>
                        <p>
                        <div class="center"><button class="button">More Info</button></div>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 column">
                  <div class="card">
                     <img class="img-responsive" src="{% static 'images/u12s.jpg' %}" alt="John" style="width:100%">
                     <div class="">
                        <h4>U-10s Team</h4>
                        <p class="title">Mini Rugby Team</p>
                        <p>
                        <div class="center"><button class="button">More Info</button></div>
                        </p>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </section>
<br>
<hr />
<br>
<div class="container">
    <div class="section">

     <div class="std_pagea">
         <div class="pageitems">
      <div class="std_content"><a name="rd23813" id="rd23813"></a>
      <div class="headline">
         <h1>Insurance Information</h1>
      </div>
   <div class="content">
   <img src="/media/images/Aon_Logo_INsurance.jpg" alt="Insurance" border="0" width="650" height="380" class="center">
<p>On behalf of the Irish Rugby Football Union, Aon design and manage a range of insurances for all individuals whilst active in rugby in Ireland. The Irish Rugby Football Union arranges Group Personal Accident cover for all players and certain officials who are members of affiliated Clubs.</p>
<p>The Union believes it has a responsibility to provide a minimum level of insurance cover and therefore the scheme is compulsory for all Clubs. This compulsory scheme is intended to primarily cover catastrophic injuries only and, whilst the" benefit may appear substantial, it will not necessarily be sufficient to cover future needs if a player is severely injured.</p>
<p>Players should understand acknowledge and accept that there are risks of injury (including serious injury) and death in the course of playing and training for Rugby and the player voluntarily accepts such risk of injury or death. Players should be aware that the compulsory scheme does not provide payment of medical expenses or loss of earnings, nor does it cover fatal collapse unless a physical accident precedes same whilst in training or on the match pitch.</p>
<p>It is the player's individual responsibility that they have adequate insurance in place. Further information regarding insurance is available by contacting the IRFU's insurance brokers, Aon on 01 2666 400.</p>
<h2>Downloads</h2>
<h3>Republic of Ireland</h3>
<table cellspacing="1" cellpadding="1" width="75%" border="1">
<tbody>
<tr>
<td> <strong>Republic of Ireland Documents For Clubs</strong></td>
</tr>
<tr>
<td> <a href="/media/downloads/IRFU_ROI_Clubs_Letter_2018.pdf">Letter to clubs (Republic of Ireland)</a></td>
</tr>
<tr>
<td> <a href="/media/downloads/Irish_Rugby_Injuries_and_Insurance_ROI_Euro.pdf">Injuries &amp; Insurance</a> - Clubs</td>
</tr>
<tr>
<td> <a href="/media/downloads/IRFU_CompulsoryClubs_ROI_Application_Form_2018.pdf">Compulsory Insurance Application form</a> -Clubs</td>
</tr>
<tr>
<td> <a href="/media/downloads/IRFU_compulsory_clubs_PA_ROI.pdf">Compulsory Insurance for Clubs cover summary 2018/2019</a></td>
</tr>
<tr>
<td> <a href="/media/downloads/IRFU_personal_accident_individuals_ROI_euro_updated.pdf">Application form for Additional Personal Accident Cover - Clubs</a></td>
</tr>
<tr>
<td> <a href="/media/downloads/IRFU_optional_topup_ROI_euro_markup_updated.pdf">Optional Top Up</a></td>
</tr>
</tbody>
</table>
 

</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
      {% endblock %}