{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Kenmare Rugby | Home</title>
   <meta name="keywords" content="kenmare, rugby, kenmare rugby, munster">
   <meta name="description" content="Kenmare Rugby Football Club">
   <meta name="author" content="digidude web design & social media">
   <link rel="icon" href="{% static 'images/ico/favicon.ico' %}"> 

 
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   <!-- Site CSS -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- Responsive CSS -->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <!-- font family -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <!-- end font family -->
     <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,900" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/flipdown.css' %}">
      
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  
   <link rel="stylesheet" href="{% static 'css/3dslider.css' %}" />
   <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
   <script src="{% static 'js/3dslider.js' %}"></script>
   <script src='https://pbutcher.uk/flipdown/js/flipdown/flipdown.js'></script>
   
   

   </head>
   

    <header>
            <nav class="navbar navbar-default">
        <div class="container-fluid alert-container hidden-xs">
            <div class="row">
                <div class="col-xs-12">
                    <div class="site-wide-alert alert alert-warning">
                        <strong>Come Join Us!</strong> We are looking for new players & coaches <a href="{% url 'contact' %}">See here for more details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                                          <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                          <li><a class="nav-link" href="{% url 'teams' %}">Teams</a></li>
                                          <li><a class="nav-link" href="{% url 'post_list' %}">Blog</a></li>
                                          <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                                          <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                                       </ul>
<div class="right_top_section">
                           <!-- social icon -->
                           <ul class="social-icons pull-left">
                              <li><a class="facebook" href="https://www.facebook.com/Kenmarerugby/"><i class="fab fa-facebook"></i></a></li>
                              <li><a class="twitter" href="https://twitter.com/kenmarerugby"><i class="fab fa-twitter"></i></a></li>
                              <li><a class="youtube" href="https://www.youtube.com/channel/UCAwpp2NHqjzAV55T3DABjkw"><i class="fab fa-youtube"></i></a></li>
                              <li><a class="instagram" href="https://www.instagram.com/kenmarerugby"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                           <!-- end social icon -->
                        </div>
                
            </div>
        </div>
    </nav>
</header>
 {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

     
        {% block content %} {% endblock %}

<footer id="footer" class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="full">
                     <div class="footer-widget">
                        <div class="footer-logo">
                           <a href="#"><img src="{% static 'images/logo.png' %}" alt="#" /></a>
                        </div>
                        <p>Kenmare Rugby est. 1st March 2009. Currently competing at U6s, U8s, U10s & U12s Mini Rugby. New members always welcome..</p>
                        <ul class="social-icons style-4 pull-left">
                           <li><a class="facebook" href="https://www.facebook.com/Kenmarerugby/"><i class="fab fa-facebook"></i></a></li>
                           <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                           <li><a class="pinterest" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Menu</h3>
                        <ul class="footer-menu">
                           <li><a class="nav-link" href="{% url 'index' %}" style="color:white">Home</a></li>
                                          <li><a class="nav-link" href="{% url 'teams' %}" style="color:white">Teams</a></li>
                                          <li><a class="nav-link" href="{% url 'post_list' %}" style="color:white">Blog</a></li>
                                          <li><a class="nav-link" href="{% url 'about' %}" style="color:white">About</a></li>
                                          <li><a class="nav-link" href="{% url 'contact' %}" style="color:white">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="footer-widget">
                        <h3>Contact us</h3>
                        <ul class="address-list">
                           <li><i class="fas fa-map-marked-alt"></i></i> Railway Road, Kenmare, Co. Kerry</li>
                           <li><i class="fa fa-phone"></i> 083 365 4625</li>
                           <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> info@kenmarerugby.ie</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="full">
                     <div class="contact-footer">
                     <iframe width="100%" height="350" src="https://maps.google.com/maps?width=100%&amp;height=350&amp;hl=en&amp;coord=51.88410,-9.58284&amp;q=Railway%20Road%2C%20Kenmare%2C%20Co.%20Kerry+(Kenmare%20Rugby%20Football%20Club)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Google map generator</a></iframe>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p>Copyright © 2018 Built by <a href="https://digidude.ie" style="color:red" target="_blank">digidude web design & social media</a></p>
            </div>
         </div>
      </footer>
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fas fa-angle-up"></i></a>
      <!-- ALL JS FILES -->

      <script src="{% static 'js/all.js' %}"></script>
      
      <!-- ALL PLUGINS -->
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/vue-resource.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
      
      
   </body>
</html>